# This is Git's per-user configuration file.
[user]
	name = Bogdan Bryzh
	email = bogdan.bryzh@gmail.com
# Please adapt and uncomment the following lines:
#	name = Bogdan Bryzh
#	email = bogdan.bryzh@gmail.com
